@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800&display=swap');

/* lato font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,100;1,300;1,700&display=swap');


:root{
    --roboto:'Roboto Slab', serif;
    --lato:'Lato', var(--roboto);
}

.roboto{
    font-family: 'Roboto Slab', serif;
}

.lato{
    font-family: 'Lato', var(--roboto);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    width: 100%;
    min-height: 100vh;
    background: url("./bg.png");
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.wrapper .box{
    width: auto;
    height: 450px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: .5rem;
    gap: 1rem;
}
.wrapper .box .box_top{
    width: 200px;
    height: auto;
    justify-self: flex-start;
}
.wrapper .box .box_top img{
    max-width: 100%;
}
.wrapper .box .box_middle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}
.wrapper .box .box_middle h2{
    font-family: var(--roboto);
    color: #0B2B96;
    font-size: 1.3em;
}
.wrapper .box .box_middle p{
    font-family: var(--roboto);
    color: #989393b0;
    font-size: 1rem;
    font-weight: 600;
    font-size: .8rem;
    margin: 0 4em;
    text-align: center;
}

.wrapper .box form{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 1.5rem;
    margin-top: -6px;
}
.wrapper .box form fieldset{
    border: 2px solid #1650b063;
    border-radius: 10px;
    outline: none;
    padding: 0rem 2rem;
    width: 100%;
    display: flex;
    align-items: center;
}
.wrapper .box form fieldset legend{font-family: var(--roboto);color: #0B2B96;font-weight: bold;padding-right: .5rem;}
.wrapper .box form input{
    border: none;
}
.wrapper .box form input[type="button"]{}
.wrapper .button_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.wrapper .button_container button{
    border: none;
    color: #fff;
    background: linear-gradient(45deg,#041464, #1A5FC3);
    font-family: var(--roboto);
    font-size: 1em;
    padding: .5rem 2rem;
    border-radius: 4px;
}

.wrapper .form_container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: .5rem;
}
.wrapper .form_container .country_code{
    flex: 1 1 10%;
}
.wrapper .form_container .input_container{
    flex: 1 1 90%;
}
.wrapper .form_container .input_container input{
    width: 100%;
    padding: .5rem 1rem;
}


.wrapper .otp_box_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 0.5rem;
}
.wrapper .otp_box_wrapper .otp_box input{
    width: 40px;
    height: 40px;
    /* border: 1px solid #635757; */
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    border: none;
    box-shadow: 0px 1px 6px rgb(0 0 0 / 30%);
    border-radius: 3px;
    font-family: 'Roboto Slab';
}


.not_received{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    flex-wrap: wrap;
    text-align: center;
}

.wrapper .not_received span{
    font-family: var(--roboto);
    font-size: .8em;
    margin-right: 1.5rem;
}
.wrapper .not_received a{
    margin-left: .5em;
    cursor: pointer;
    font-family: var(--roboto);
    color: #2e54d2;
    font-weight: bold;
}
.fa-pen {
    margin-left: 0.5em;
    color: #041464;
}